:root {
  --primary-light: #6ee7b7;
  --primary: #34d399;
  --primary-medium: #10b981;
  --primary-dark: #059669;
  --primary-dark-medium: #047857;
  --primary-dark-large: #065f46;
  --primary-dark-xl: #064e3b;
  --primary-dark-xl-double: #022c22;
}

.pesanan {
  width: 100%;
  background: #fff;
  padding: 5rem 10%;
}

.pesanan .content form {
  display: flex;
  gap: 1.5rem;
}

.pesanan .content form .left-col {
  flex: 1 1 50%;
}

.pesanan .content form .left-col .list-makanan h2 {
  margin-bottom: 1rem;
}

.pesanan .content form .left-col .list-minuman h2 {
  margin-bottom: 1rem;
}

.pesanan .content form .right-col {
  flex: 1 1 50%;
}

.pesanan .content form .right-col .list-bayar h2 {
  margin-bottom: 1rem;
}

/* admin */
.table-pesanan-a {
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
  margin-bottom: 1.5rem;
}

.table-pesanan-a th {
  padding: 0.5rem;
  border: 1px solid #000;
}

.table-pesanan-a td {
  padding: 0.5rem;
  border: 1px solid #000;
}

.d-ubah-pesanan {
  display: flex;
  gap: 0.5rem;
}

.btn-ubah-pesanan {
  display: flex;
  flex-direction: column;
}
